.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: 20px;
  font-weight: 100
}

.App-Intro::after {
  content: " ";
  white-space: pre;
}

.Button {
  font-size: 17px;
  background-color: #0bc94d;
  color: white;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
